---
import Hero from "@/components/Hero.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import MainLayout from "@/layouts/MainLayout.astro";
import Why from "@/components/Why.astro";
import Animated from "@/components/Animated.astro";
---

<MainLayout>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Hero />
		<div class="mb-10 flex justify-center">
			<Animated />
		</div>

		<Why />
	</body>
</MainLayout>
