---
import { Image } from 'astro:assets';
import  ModeToggle  from './ModeToggle.astro';

---

<header class="">
	<nav class="flex items-center bg-background px-4 py-3 justify-between w-[90%] mx-auto">
		<div>
		<a href="/">
			<Image src="/logo-light.jpeg" class="rounded-2xl dark:hidden" alt="Logo" width={56} height={56} format='avif' />
			<Image src="/logo.png" class="rounded-2xl hidden dark:block" alt="Logo" width={56} height={56} format='avif' /></a>
		</div>
		<div>
		</div>
		<div class="flex items-center justify-between gap-3  ">
			<a href="https://saifullah.tech" class="flex bg-secondary px-5 cursor-pointer py-1.5 border rounded-md items-center gap-1" target="_blank">Portfolio</a>
			<ModeToggle />
		</div>
	</nav>
</header>

